@charset "utf-8";
// 文章標題
// .tt{ color: #222; }
.cp {
  .pic {
    float: left;
    margin: 0px 1em 1em 0;
    width: auto;
    width: 45%;
    max-width: 400px;
    background: #f1f1f1;
    overflow: hidden;
    padding: 0.5em 0.5em 0.2em;
    img {
      float: none;
      width: 100%;
      margin: 0;
      display: block;
    }
    span {
      text-align: center;
      display: block;
      font-size: 0.938em;
    }
    @include screen('mobile') {
      float: none;
      max-width: 100%;
      width: auto;
      margin: 0px auto;
      display: block;
      margin-bottom: 0.5em;
    }
  }
  table {
    background: #fff;
  }
  img {
    &.float_left {
      float: left;
      margin: 0px 1em 1em 0;
      width: auto;
      max-width: 55%;
      @include screen('mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
      }
    }
    &.float_right {
      float: right;
      margin: 0px 0 1em 1em;
      width: auto;
      max-width: 55%;
      @include screen('mobile') {
        float: none;
        max-width: 100%;
        margin: 0px auto;
      }
    }
  }
  a {
    @include aSetting;
  }
}
/* ---------------------video */
.video {
  width: 650px;
  margin: 0 auto 30px;
  border: 2px solid #ddd;
  border-radius: 20px;
  min-height: 100px;
  padding: 40px 30px 20px;
  position: relative;
  margin-bottom: 30px;
  background-color: #fff;
  @media (max-width: 767px) {
    width: 100%;
  }
}
// 檔案下載
.file_download {
  width: 100%;
  margin: 0 auto 2em;
  @include clearfix();
  h3 {
    font-size: 1.5em;
    padding: 12px 0px 15px 0px;
    margin: 0.5em 0px 0.2em;
    border-bottom: 8px solid $lightColor;
    border-left: none;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    padding: 0.5em 0 0.5em 1.5em;
    border-bottom: solid 1px #ccc;
    &:before {
      content: '·';
      font-size: 2em;
      font-weight: bold;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 0.4em;
      left: 0.1em;
      color: #666;
    }
    .file_name {
      line-height: 1.8em;
      margin: 0.2em 0.5em 0.2em 0;
      color: #222;
      ~ span {
        flex: 0 0 auto;
        margin: 0.2em;
        font-size: 0.875em;
        line-height: 1.5em;
        vertical-align: middle;
        color: #666;
        a {
          color: #fff;
          display: inline-block;
          margin-right: 8px;
        }
      }
    }
    $fileType: doc, docx, odt, xls, xlsx, csv, ods, ppt, pptx, odp, zip, txt, mov, mp3, jpg, wmv, mp4, pdf, other;
    @each $fileType in $fileType {
      span.file_#{$fileType} {
        a {
          color: #fff;
          font-weight: bold;
          padding: 0.2em 0.8em;
          border-radius: 3px;
          &:hover,
          &:focus {
            color: #fff;
          }
        }
      }
    }
    span {
      &.file_doc,
      &.file_docx,
      &.file_odt {
        a {
          background: #275cb7;
          &:hover,
          &:focus {
            background: darken(#275cb7, 5%);
          }
        }
      }
      &.file_xls,
      &.file_xlsx,
      &.file_csv,
      &.file_ods {
        a {
          background: #387947;
          &:hover,
          &:focus {
            background: darken(#387947, 5%);
          }
        }
      }
      &.file_ppt,
      &.file_pptx,
      &.file_odp,
      &.file_pdf {
        a {
          background: #c55a3b;
          &:hover,
          &:focus {
            background: darken(#c55a3b, 5%);
          }
        }
      }
      &.file_pdf {
        a {
          background: #c00;
          &:hover,
          &:focus {
            background: darken(#c00, 5%);
          }
        }
      }
      &.file_zip {
        a {
          background: #eb712e;
          &:hover,
          &:focus {
            background: darken(#eb712e, 5%);
          }
        }
      }
      &.file_txt,
      &.file_other {
        a {
          background: #555;
          &:hover,
          &:focus {
            background: darken(#555, 5%);
          }
        }
      }
      &.file_mov {
        a {
          background: #009999;
          &:hover,
          &:focus {
            background: darken(#009999, 5%);
          }
        }
      }
      &.file_mp3,
      &.file_mp4 {
        a {
          background: #088ecc;
          &:hover,
          &:focus {
            background: darken(#088ecc, 5%);
          }
        }
      }
      &.file_jpg {
        a {
          background: #6c29a4;
          &:hover,
          &:focus {
            background: darken(#6c29a4, 5%);
          }
        }
      }
      &.file_wmv {
        a {
          background: #430a1f;
          &:hover,
          &:focus {
            background: darken(#430a1f, 5%);
          }
        }
      }
    }
  }
}
// 外部連結
.web_link {
  margin: 1em 0;
  @extend %clearfix;
  h3 {
    font-size: 1.5em;
    padding: 12px 0px 15px 0px;
    margin: 0.5em 0px 0.2em;
    border-bottom: 8px solid $lightColor;
    border-left: none;
  }
  ol,
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    position: relative;
    padding: 0.5em 0;
    border-bottom: solid 1px #ccc;
    padding-left: 1.5em;
    &:before {
      content: '·';
      font-size: 2em;
      font-weight: bold;
      width: 1em;
      height: 1em;
      position: absolute;
      top: 0.35em;
      left: 0.1em;
      color: #666;
    }
    a {
      padding: 0.2em 0px;
      display: block;
      @include aSetting_nocolor;
    }
  }
}
.publish_info {
  min-height: 100px;
  padding: 15px;
  position: relative;
  margin-bottom: 20px;
  display: flex;
  box-sizing: border-box;
  //   align-items: center;
  border: 2px solid #ddd;
  border-radius: 20px;
  background-color: #fff;
  box-sizing: border-box;
  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
  .book_cover_block {
    flex: 0 0 auto;
    flex-basis: 200px;
    text-align: center;

    @media (max-width: 600px) {
      flex-basis: 100%;
    }
    .book_cover {
      width: 200px;
      margin: 0 auto;
      line-height: 0 !important;
      padding: 10px;
      border-radius: 10px;
      background-color: #eee;
      @media (max-width: 600px) {
        margin-bottom: 20px;
      }
      img {
        width: 100%;
        margin: 0 auto;
      }
      .source {
        display: block;
        font-weight: bolder;
        font-size: 0.938em;
        span {
          display: block;
          font-weight: normal;
        }
      }
    }
  }
  .publish_data {
    flex: 1 1 auto;
    .projectlist {
      line-height: 1.5em;
      list-style: none;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      margin: 0 0 0 20px;
      @extend %clearfix;
      box-sizing: border-box;
      @media (max-width: 600px) {
        margin: 0;
      }
      li {
        flex: 1 1 auto;
        flex-basis: 31%;
        margin: 0 1.16% 0.5em;
        position: relative;
        padding: 6px;
        background-color: #eee;
        border-radius: 50px;
        display: flex;
        align-items: center;
        white-space: nowrap;

        @media (max-width: 1200px) {
          flex-basis: 48%;
          margin: 0 1% 0.5em;
        }
        @include screen('mobile') {
          flex-basis: 100%;
          margin: 0 0 0.5em;
        }
        span {
          background-color: #fff;
          padding: 3px 5px 3px 10px;
          border-radius: 50px;
          margin-right: 8px;
          color: #333;
          font-size: 0.938em;
        }
      }
    }
  }
}
// 書本簡介
.book_Introduction {
  margin: 0 10px 0 30px;
  @media (max-width: 600px) {
    margin: 0;
  }
}
//
.data_pic_block {
  border: 2px solid #ddd;
  border-radius: 20px;
  min-height: 100px;
  padding: 30px 30px 20px;
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
}
.slectblock {
  border: 2px solid #ddd;
  border-radius: 20px;
  min-height: 100px;
  padding: 20px 20px 20px;
  position: relative;
  margin-bottom: 20px;
  background-color: #fff;
  box-sizing: border-box;
  label {
    font-size: 0;
  }
  select {
    width: auto;
  }
  @include screen('xs_mobile') {
    text-align: center;
    select {
      width: 96%;
    }
  }
}
