.ap {
    p {
        line-height: 1.8em !important;
        margin: 0 0 25px;
        padding: 0;
    }
}
.special_report_version {
    border: 2px solid #ddd;
    border-radius: 20px;
    min-height: 100px;
    padding: 40px 30px 20px;
    position: relative;
    margin-bottom: 30px;
    background-color: #fff;
    .version_group {
        display: flex;
        @include screen('mobile') {
            display: block
        }
        .leftblock {
            flex: auto;
            flex-basis: 50%;
            max-width: 100%;
            padding: 20px 20px;
            @include screen('mobile') {
                flex-basis: 100%;
                max-width: 100%;
                padding: 0;
            }
        }
        .rightblock {
            flex: auto;
            flex-basis: 50%;
            max-width: 100%;
            padding: 20px 20px;
            @include screen('mobile') {
                flex-basis: 100%;
                max-width: 100%;
                padding: 0;
            }
        }
        .more {
            max-width: 100%;
            margin: 20px auto 0;
            text-align: center;
        }
    }
    .special_title {
        letter-spacing: 0.1em;
        font-size: 1.687em;
        font-weight: bolder;
        margin: 0 0 40px 0;
        font-family: 'Noto Serif TC', serif;
        letter-spacing: 0.03em;
        position: relative;
        span {
            position: relative;
            z-index: 1;
            padding: 0 5px;
            line-height: 1.6em;
            display: inline-block;
            &:after {
                content: '';
                width: 100%;
                height: 10px;
                background-color: $lightColor;
                position: absolute;
                right: 0;
                left: 0;
                bottom: 0;
                z-index: -1;
            }
        }
    }
    .data_pic {
        margin-bottom: 20px;
    }
    .content {
        margin-bottom: 20px;
        p {
            margin: 0;
        }
    }
    // 排行榜
    .read_leaderboard_slider {
        display: block;
        flex-basis: 100%;
        max-width: 100%;
        .read_leaderboard_list {
            padding: 0 5px;
            a {
                .ranking {
                    &:after {
                        background-color: #fff;
                    }
                }
                .read_book {
                    .bookpic {
                        width: 140px;
                        height: 230px;
                        margin: 0 auto 20px;
                        text-align: center;
                        transition: .2s;
                        position: relative;
                        img {
                            max-width: 100%;
                            max-height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                        }
                    }
                }
            }
        }
        // 箭頭
        .slick-prev,
        .slick-next {
            top: 60%;
        }
        .slick-prev {
            left: -60px;
            @include screen('tablet') {
                left: -30px;
            }
        }
        .slick-next {
            right: -60px;
            @include screen('tablet') {
                right: -30px;
            }
        }
    }
}
// 書籍排行榜
.book_leaderboard_block {
    // padding: 20px 0;
    border: 2px solid #ddd;
    border-radius: 20px;
    min-height: 100px;
    padding: 40px 30px 20px;
    position: relative;
    margin-bottom: 30px;
    background-color: #fff;
    .title {
        letter-spacing: 0.05em;
        font-size: 2em;
        margin-bottom: 40px;
        font-weight: bolder;
        span {
            position: relative;
            z-index: 1;
            padding: 0 5px;
            &:after {
                content: '';
                width: 100%;
                height: 10px;
                background-color: $lightColor;
                position: absolute;
                right: 0;
                left: 0;
                bottom: 0;
                z-index: -1;
            }
        }
    }
    .explain {
        line-height: 1.85em;
    }
    .leaderboard_slider {
        .leaderboard_list {
            margin: 30px 0;
            padding: 0 20px;
            @include screen('xs_mobile') {
                padding: 0;
            }
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
                li {
                    margin: 0 0 20px;
                    a {
                        display: flex;
                        color: #333;
                        padding: 20px;
                        border-radius: 10px;
                        background-color: #fff;
                        box-sizing: border-box;
                        border: 2px solid #eee;
                        transition: .5s;
                        height: 120px;
                        @include screen('xs_mobile') {
                            height: auto;
                        }
                        .num {
                            flex: none;
                            flex-basis: 40px;
                            max-width: 40px;
                            margin-right: 10px;
                            color: #888;
                            font-size: 1.875em;
                            font-weight: bolder;
                        }
                        .content {
                            flex: auto;
                            padding: 0;
                            text-align: left;
                            .booktitle {
                                font-size: 1.25em;
                                margin-bottom: 10px;
                                color: #333;
                            }
                            .data {
                                font-size: 0.938em;
                            }
                        }
                        &:hover {
                            box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
                            border: 2px solid $primaryColor;
                            background-color: $primaryColor;
                            .num {
                                color: #fff;
                            }
                            .content {
                                color: #fff;
                            }
                            .booktitle {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        // 箭頭
        .slick-prev {
            left: -60px;
            @include screen('tablet') {
                left: -30px;
            }
        }
        .slick-next {
            right: -60px;
            @include screen('tablet') {
                right: -30px;
            }
        }
    }
}
// 註冊頁
.formblock {
    border: 2px solid #ddd;
    border-radius: 20px;
    min-height: 100px;
    padding: 30px 40px 30px;
    position: relative;
    margin-bottom: 30px;
    background-color: #fff;
}
// 快速查詢
.fastsearch {
    border: 2px solid #ddd;
    border-radius: 20px;
    padding: 15px 30px 15px;
    position: relative;
    margin-bottom: 30px;
    background-color: #fff;
    box-sizing: border-box;
    .flex-form {
        &.form_inline {
            border: none;
        }
        .form_grp {
            flex: auto;
            flex: calc(100% - 200px);
            max-width: calc(100% - 200px);
            margin: 0;
            label {
                font-size: 1.125em;
                flex: none;
            }
            input[type="text"] {
                flex: auto;
            }
            @include screen('mobile') {
                flex: 100%;
                max-width: 100%;
            }
            @media(max-width: 480px) {
                label {
                    display: block;
                    flex: auto;
                    flex-basis: 100%;
                    max-width: 100%;
                    text-align: center;
                    margin-bottom: 10px;
                }
                input[type="text"] {
                    flex-basis: 100%;
                    max-width: 100%;
                }
            }
        }
        .btn_grp {
            flex: none;
            flex-basis: 200px;
            max-width: 200px;
            margin: 0;
            @include screen('mobile') {
                flex-basis: 100%;
                max-width: 100%;
            }
        }
    }
}
// 閱讀排行版
.leaderboard_content_block {
    border: 2px solid #ddd;
    border-radius: 20px;
    min-height: 100px;
    padding: 20px 30px 40px;
    position: relative;
    margin-bottom: 20px;
    background-color: #fff;
    @media(max-width: 530px) {
        padding: 20px 20px 40px;
    }
    .read_leaderboard_content {
        display: flex;
        flex-wrap: wrap;
        .read_leaderboard_list {
            padding: 0 5px;
            box-sizing: border-box;
            flex: none;
            flex-basis: 19.5%;
            max-width: 19.5%;
            margin: 0 0.25% 15px;
            @media(max-width: 1200px) {
                flex-basis: 24.5%;
                max-width: 24.5%;
            }
            @include screen('tablet') {
                flex-basis: 32.5%;
                max-width: 32.5%;
            }
            @include screen('mobile') {
                flex-basis: 49.5%;
                max-width: 49.5%;
            }
            @media(max-width:530px) {
                flex-basis: 100%;
                max-width: 100%;
            }
            a {
                position: relative;
                display: block;
                color: #333;
                height: 430px;
                padding-top: 45px;
                .ranking {
                    color: $primaryColor;
                    position: relative;
                    font-size: 1.875em;
                    font-weight: bolder;
                    text-align: center;
                    padding: 0 10px 40px;
                    transition: .2s;
                    &:before {
                        content: '';
                        // width:100%;
                        height: 2px;
                        background-color: #830c33;
                        position: absolute;
                        bottom: 25px;
                        left: 20px;
                        right: 20px;
                    }
                    &:after {
                        content: '';
                        border: 2px solid #830c33;
                        width: 10px;
                        height: 10px;
                        background-color: #f7f7f7;
                        border-top: none;
                        border-right: none;
                        transform: rotate(-45deg);
                        position: absolute;
                        bottom: 20px;
                        left: 50%;
                        margin-left: -5px;
                    }
                }
                .read_book {
                    background-color: #fff;
                    border: 1px solid #e0e0e0;
                    border-radius: 5px;
                    padding: 20px;
                    box-sizing: border-box;
                    text-align: center;
                    transition: .2s;
                    height: 330px;
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    box-sizing: border-box;
                    .bookpic {
                        width: 100%;
                        height: 230px;
                        margin: 0 auto 20px;
                        text-align: center;
                        transition: .2s;
                        position: relative;
                        img {
                            max-width: 100%;
                            max-height: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            margin: auto;
                        }
                    }
                    .bookname {
                        display: block;
                        position: absolute;
                        bottom: 20px;
                        left: 20px;
                        right: 20px;
                        @include text-overflow;
                        // @include text-line(2,23px);  
                        text-align: center;
                    }
                }
                &:hover {
                    color: $aHover;
                    .ranking {
                        margin-top: -30px;
                        font-size: 2.625em;
                    }
                    .read_book {
                        height: 350px;
                        .bookpic {
                            transform: scale(1.1);
                        }
                    }
                }
            }
        }
    }
}
// 專題報導
.topic_block {
    .topic_list {
        a {
            border: 2px solid #ddd;
            border-radius: 20px;
            min-height: 100px;
            padding: 40px 30px 40px;
            position: relative;
            margin-bottom: 30px;
            background-color: #fff;
            display: flex;
            flex-wrap: wrap;
            color: #000;
            transition: .5s;
            .leftblock {
                flex: auto;
                flex-basis: calc(100% - 292px);
                max-width: 100%;
                .title {
                    font-size: 1.5em;
                    margin-bottom: 20px;
                    font-weight: bolder;
                    line-height: 1.5em;
                }
                .content {
                    line-height: 1.8em;
                }
            }
            .rightblock {
                flex: none;
                flex-basis: 242px;
                max-width: 242px;
                .topic_book {
                    margin-left: 50px;
                    img {
                        width: 242px;
                        border: 1px solid #fff;
                    }
                }
            }
            &:hover {
                background-color: #fff0dc;
                .title {
                    color: darken($primaryColor, 10);
                }
            }
        }
    }
}
// 登入頁面
.login_group {
    background-color: #fff;
    padding: 40px;
    width: 60%;
    margin: 0 auto 90px;
    border-radius: 5px;
    @include screen('tablet') {
        width: 80%;
    }
    @include screen('xs_mobile') {
        width: 90%;
    }
    .title {
        font-size: 2em;
        color: #333;
        font-family: 'Noto Serif TC', serif;
        letter-spacing: 0.05em;
        margin-bottom: 50px;
        position: relative;
        &:before {
            content: '';
            width: 30px;
            height: 4px;
            background-color: #333;
            position: absolute;
            bottom: -25px;
            left: 50%;
            margin-left: -15px;
        }
        span {
            color: $primaryColor;
        }
    }
    .content {
        width: 60%;
        margin: 0 auto;
        @include screen('tablet') {
            width: 80%;
        }
        @include screen('xs_mobile') {
            width: 100%;
        }
        .account_number {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 5px 5px 5px 35px;
            background-image: url('../images/login_icon01.png');
            background-repeat: no-repeat;
            background-position: 10px center;
            margin-bottom: 10px;
        }
        .password_block {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 5px 5px 5px 35px;
            background-image: url('../images/login_icon02.png');
            background-repeat: no-repeat;
            background-position: 10px center;
            margin-bottom: 10px;
            .labelEffect .btn-icon {
                top: -4px;
            }
        }
        input[type="password"], input[type="text"] {
            padding: 0;
            border: none;
        }
        .verify {
            margin-bottom: 0;
            width: 100%;
            min-width: 100% !important;
        }
        .btn_grp {
            .btn {
                width: 100%;
                padding: 1em 1.25em;
                background-color: #c00009;
                color: #fff;
                &:hover, &:focus {
                    background-color: darken(#c00009, 5);
                }
            }
        }
        .link {
            background-image:url('../images/login_link_icon01.png');
            background-repeat:no-repeat;
            background-position:0 0;
            display: inline-block;
            padding-left:25px;
            a {
                color:#333;
                text-decoration: underline;
                display: inline-block;
                margin:0 8px;
                font-size: 1.125em;

                &:hover {
                    color: $secondaryColor;
                }
            }
        }
    }
}