.breadcrumb {
    
    padding: .1em 0em .1em;
    font-size: 1em;
    margin: 0px auto 25px;
    ul {
        @include li-reset;
        li {
            display: inline-block;
            margin: 0px .1em .1em 0px;
            &:before {
                @extend %slash;
            }
            &:first-child:before {
                content: "";
                display: inline-block;
                color: #666;
                margin-left: 0;
                padding: 0;
            }
        }
    }
    a {
        @include aSetting_nocolor;
    }
}